<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="w-full h-[90px] bg-black">
        <div class="max-w-[1240px] h-full mx-auto px-4 flex justify-between items-center">
            <div>
                <h1 class="text-[#00d8ff] font-bold">MESSAGE BOARD</h1>
            </div>
            <div class="hidden md:flex">
                <ul class="flex text-white items-center">
                    <li>Become Member</li>
                    <li>Become Admin</li>
                    <button class="ml-4">Login</button>
                </ul> 
            </div>
        </div>
    </div> 

    <% if (locals.user) {%>
        <h1>Welcome back <%= user.firstName %></h1>
        <p><a href="/create-message">Create Message</a></p>
        <p><a href="/logout">Log Out</a></p>
    <% }%>

    <% if (!locals.user) {%>
        <a href="/login">Log In</a>
    <% }%>
    
    <h1 class="text-3xl">NFT Fam' Message Board</h1>

    <ul>
      <% for (var i = 0; i < locals.posts.length; i++) { %>
        <div>
            <li class="text-blue-600"><%= locals.posts[i].title %></li>
            <li><%= locals.posts[i].content %></li>
            <% if (locals.user) { %> <!-- is logged in -->
                <% if (locals.user.member) { %> <!-- is a member  -->
                    <li><%= `Author: ${locals.posts[i].author.firstName} ${locals.posts[i].author.lastName}` %></li>
                    <li><%= `Posted: ${locals.posts[i].date}` %></li>
                <% } %>
                <% if (locals.user.admin) { %> <!-- is an admin -->
                    <li><%= `Author: ${locals.posts[i].author.firstName} ${locals.posts[i].author.lastName}` %></li>
                    <li><%= `Posted: ${locals.posts[i].date}` %></li>
                <% } %>
            <% } %>
            <a href=<%= locals.posts[i].url%>>Full Post</a>
        </div>
        <hr/>
      <% } %>
    </ul>

    <p><%= locals.message %></p>

    <% if (locals.error) { %>
        <p><%= locals.error %></p>
    <% } %>
  </body>
</html>
