<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (locals.user) {%>
        <h1>Welcome back <%= user.firstName %></h1>
        <p><a href="/create-message">Create Message</a></p>
        <p><a href="/logout">Log Out</a></p>
    <% }%>
    
    <h1><%= locals.title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (!locals.user) {%>
        <a href="/login">Log In</a>
    <% }%>

    <p><%= locals.message %></p>

    <% if (locals.error) { %>
        <p><%= locals.error %></p>
    <% } %>
  </body>
</html>
