<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (locals.user) {%>
        <h1>Welcome back <%= user.firstName %></h1>
        <p><a href="/create-message">Create Message</a></p>
        <p><a href="/logout">Log Out</a></p>
    <% }%>

    <% if (!locals.user) {%>
        <a href="/login">Log In</a>
    <% }%>
    
    <h1><%= locals.title %></h1>

    <ul>
      <% for (var i = 0; i < locals.posts.length; i++) { %>
        <div>
            <li><%= locals.posts[i].title %></li>
            <li><%= locals.posts[i].content %></li>
            <li><%= locals.posts[i].date %></li>
            </div>
        <hr/>
      <% } %>
    </ul>

    <p><%= locals.message %></p>

    <% if (locals.error) { %>
        <p><%= locals.error %></p>
    <% } %>
  </body>
</html>
