<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% locals.post.title %></title>
</head>
<body>
    <h1><%= locals.post.title %></h1>
    <p><%= locals.post.content %></p>
    <% if (locals.user) { %> <!-- logged in -->
        <% if (locals.user.member) { %> <!-- is a member -->
            <p><%= `Author: ${locals.post.author.firstName} ${locals.post.author.lastName}` %></p>
            <p><%= `Posted: ${locals.post.date}` %></p>
        <% } %>
    <% } %>
    <% if (locals.user) { %> <!-- logged in -->
        <% if (locals.user.admin) { %> <!-- is admin -->
            <a href="/post/delete-post/<%= locals.post._id %>"><button>Delete Post</button></a>
        <% } %>
    <% } %>
    <a href="/"><button>Home</button></a>
    <% if (locals.error) { %>
        <p><%= locals.error %></p>
    <% } %>
</body>
</html>