<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('nav') %>
    <div class="w-full flex justify-center">
        <div class="max-w-[400px] flex flex-col mt-36">
            <h1 class="p-2">Sign Up</h1>
            <form action="/sign-up" method="post">
                <div class="flex justify-between p-4">
                    <label for="firstName">First Name</label>
                    <input class="ml-5 border rounded-md shadow" value="<%= locals.firstName %>" placeholder="John" type="text" name="firstName" id="firstName">
                </div>
                <div class="flex justify-between p-4">
                    <label for="lastName">Last Name</label>
                    <input class="ml-5 border rounded-md shadow" value="<%= locals.lastName %>" placeholder="Smith" type="text" name="lastName" id="lastName">
                </div>
                <div class="flex justify-between p-4">
                    <label for="email">Email</label>
                    <input class="ml-5 border rounded-md shadow" value="<%= locals.email %>" placeholder="john@smith.com" type="email" name="email" id="email">
                </div>
                <div class="flex justify-between p-4">
                    <label for="password">Password</label>
                    <input class="ml-5 border rounded-md shadow" placeholder="Password" type="password" name="password" id="password">
                </div>
                <div class="flex justify-between p-4">
                    <label for="confirmPassword">Confirm Password</label>
                    <input class="ml-5 border rounded-md shadow" placeholder="Confirm password" type="password" name="confirmPassword" id="confirmPassword">
                </div>
                <button class="m-2">Sign Up</button>
            </form>      
        </div>
    </div>
    <!-- Error messages -->
    <div class="flex justify-center">
        <% if (locals.errors) { %>
            <% for (var i =1; i <= locals.errors.length;  i++ ) { %>
                <p class="text-red-600 font-bold"><%= locals.errors[i-1].msg %></p>
            <% }} %>
        <% if (locals.error) { %>
            <p class="text-red-600 font-bold"><%= locals.error %></p>
        <% } %>
        <p class="text-red-600 font-bold"><%= locals.message %></p>
    </div>
</body>
</html>